.ls {

  .color-icon.bg-icon {
    background-color: #ececec;
  }

  .pricing-plan [class*='btn-outline-'] {
    background-color: $lightColor;
    &:hover {
      background-color: $colorMain;
    }
  }
}