//color schemes
//1
$styleNumber: '';
$colorMain: #e43d4e;
$colorMain2: #37c7ef;
$colorMain3: #98c725;
$colorMain4: #56d7fe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;