//color schemes
//2
$styleNumber: '2';
$colorMain: #37c7ef;
$colorMain2: #e43d4e;
$colorMain3: #98c725;
$colorMain4: #f26f1f;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;