//color schemes
//3
$styleNumber: '3';
$colorMain: #98c725;
$colorMain2: #37c7ef;
$colorMain3: #e43d4e;
$colorMain4: #82b440;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;