.widget_instagram {
  .instafeed{
    display: flex;
    flex-wrap: wrap;

    .photo {
      display: inline-block;
      max-width: 160px;
      width: 100%;
      margin: 0 10px 10px 0;
      @media(max-width: 992px){
        max-width: 145px ;
      }
      @media(max-width: 360px){
        max-width: 135px ;
      }
    }
    img {
      max-width: 160px;
      width: 100%;

    }
  }

}