/*.widget_post_tabs*/

.widget_post_tabs {
  h4:first-child {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    font-weight: 400;
    line-height: 19px;
    margin: 0px 0 5px;
    color: $lightColor;
  }
  .vertical-item {
    margin-bottom:1.8em;
    &:last-child {
      margin-bottom: 0;
    }
    .item-content{
      padding: 10px 25px;
    }
  }
}
